body {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.image-container {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    position: relative;
}
.image-container span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
}
.image-container span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.Btn-container {
    width: 80%;
    position: relative;
}
.btn {
    position: absolute;
    bottom: -80px;
    background-color: slateblue;
    color: #fff;
    padding: 10px, 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    filter: brightness(1.5);
}
#prev {
    left: 20%;
}
#next {
    right: 20%;
}